.bolder {
    font-weight: bolder;
}

.poppins {
    font-family: Poppins;
}

.f-700 {
    font-weight: 700;
}

.f-500 {
    font-weight: 500;
}

.f-400 {
    font-weight: 400;
}

.title0 {
    font-family: Poppins;
    font-size: 11vw;
    font-style: normal;
    line-height: 43.2px;
    /* 120% */
    margin-bottom: 0;
}

.title2 {
    font-family: Poppins;
    font-size: 10vw;
    font-style: normal;
    line-height: 28.8px;
    /* 120% */
}

.title3 {
    font-family: Poppins;
    font-size: 5vw;
    font-style: normal;
    line-height: 28.8px;
    /* 120% */
}

.title-q {
    font-family: Poppins;
    font-size: 7vw;
    font-style: normal;
    line-height: 28.8px;
    /* 120% */
}



.title1 {
    font-family: Poppins;
    font-size: 6vw;
    font-style: normal;
    line-height: 28.8px;
    /* 120% */
}

.text1 {
    /* Body 1 - 18 px */
    font-family: Poppins;
    font-size: 4.5vw;
    font-style: normal;
    line-height: 25.2px;
    text-decoration: none;
    /* 140% */
}

.text2 {
    /* Body 2 - 16 px */
    font-family: Poppins;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
    text-decoration: none;
    /* 122.5% */
}

.big-number {
    color: rgba(167, 176, 203, 0.30);
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
    margin-bottom: 15%;
    /* 35% */
}

.big-number-selected {
    color: black;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
    margin-bottom: 15%;
    /* 35% */
}

.text3 {
    /* Body 3 - 14 px */
    font-family: Poppins;
    font-size: 1.09375vw;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
    text-decoration: none;
    /* 140% */
}

.link {
    /* Link - 14 px */
    font-family: Poppins;
    font-size: 1.09375vw;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
    /* 140% */
    text-decoration-line: underline;
}

@keyframes animate-glow {
    0% {
        opacity: 0;
        filter: brightness(3) saturate(3);
        transform: scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        filter: brightness(1) saturate(1);
        transform: scale(1, 1);
    }
}


@media only screen and (min-width: 650px) {

    .title0 {
        font-family: Poppins;
        font-size: 6vw;
        font-style: normal;
        line-height: 70px;
        /* 120% */
        margin-bottom: 0;
    }

    .title1 {
        font-family: Poppins;
        font-size: 2vw;
        font-style: normal;
        line-height: 28.8px;
        /* 120% */
    }

    .text1 {
        /* Body 1 - 18 px */
        font-family: Poppins;
        font-size: 1.5vw;
        font-style: normal;
        line-height: 30px;
        text-decoration: none;
        /* 140% */
    }

    .text2{
       /* Body 1 - 18 px */
       font-family: Poppins;
       font-size: 1.3vw;
       font-style: normal;
       line-height: 25px;
       text-decoration: none;
       /* 140% */
    
    }

    .text-section1 {
        margin-right: 25%;
    }

    .animate-glow {
        animation-name: animate-glow;
        animation-timing-function: ease;
        animation-delay: 0.6s;
    }

    

    .big-number{
        font-size: 8vh;
    }

    .big-number-selected{
        font-size: 8vh;
    }
}